@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: black;
  /* background-image: url("https://img.freepik.com/premium-vector/night-forest-scrolling-background_22191-316.jpg");
  background-size: cover;
  min-height: 100vh; */
}
